/* {
    border: 1px solid black;
} */

#playbutton {
    height:50px;
    width:100px;
    font-size: 15px;

}

td {
    padding-top:10px;
    padding-bottom: 10px;
    text-align: center;
}

div  td{
    text-align:left;
    border:2px solid white;
    padding:10px;
}

#resultsTable {
   background-color:lightgrey;
   padding:10px;
   
}

caption {
    background-color:lightgrey;
}
