
  /* {
     border: 1px solid black;
 } */
 
 h2, h3 {
    text-align: center;    
}

a {
   font-family:cursive;
   text-decoration:none;  
}

a:hover {
    text-decoration:underline;
    color:mediumpurple;
}

div {
    display: block;
    background-size:contain;
    background-image: url("https://s-media-cache-ak0.pinimg.com/736x/17/41/67/174167cefea3924214728746719551b3.jpg");
    width:250px; 
    height:250px;
    margin:auto;
    margin-top: 20px;

}


th {
    background-color:grey;
    border: 1px solid black;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid black;
    font-style: italic;
    background-color:#DAF2DC;
    
}

#Lovers {
    font-family: Tangerine;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

#Lovers2 {
    font-family: Tangerine;
    font-size: 40px;
    font-weight:bold;
    text-align: center;
}

#Lovers3 {
    font-style: italic;
}

p {
    margin-top: 20px;
}

