


a {
    
    color: blue;
}

a:link {
    color: blue;
}
a:visited {
    color:green;
}

a:hover {
    font-weight:bold;
}

a:active {
    text-decoration: none;
}


* {
    font-family: Comic Sans MS;
}

.header {
    padding-top:20px;
    font-family: Karla;
    text-align: center;
    font-size: 40px;
}

.navContainer {
    padding-bottom:20px;
}

.mainContainer{
    padding-top:15px;
}

.footer {
    text-align: center;
    font-size: 15px;
    line-height: 200%;
}

th {
    font-size: 1.25em;
}

#menuBackground {
    background:linear-gradient(#89cff0, white);
}

#homeBackground {
    background: linear-gradient(sandybrown, white);
}




table#table1 {
    width:20%;
    margin-left:40%;
    margin-right:40%;
    margin-top: 2em;
    
}

table#table1 td {
    text-align:left;
}

#myCarousel {
    height:120px;    
}

.left carousel-control{
    margin-left:none;
}