
  /* {
     border: 1px solid black;
 } */
 
 h2, h3 {
    text-align: center;    
}

a {
   font-family:cursive;
   text-decoration:none;  
}

a:hover {
    text-decoration:underline;
    color:mediumpurple;
}

div {
    display: block;
    background-size:contain;
    
    width:250px; 
    height:250px;
    margin:auto;
    margin-top: 20px;

}

#one {
    background-image: url("https://s-media-cache-ak0.pinimg.com/736x/17/41/67/174167cefea3924214728746719551b3.jpg");
}

th {
    background-color:grey;
    border: 1px solid black;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid black;
    font-style: italic;
    
   
}

tr:nth-child(even) {
        background-color:lightskyblue;
}

/* I opted for tr:nth-child(even) for shading alternating table rows rather than using the .table-striped in Bootstap because 
I found the color harder to control in bootstrap and the default was too light*/ 

#Lovers {
    font-family: Tangerine;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

#Lovers2 {
    font-family: Tangerine;
    font-size: 40px;
    font-weight:bold;
    text-align: center;
}

#Lovers3 {
    font-style: italic;
}

p {
    margin-top: 20px;
}

