
 
/* {
    border: 1px solid rgba(0, 0, 0, 0.3);
} */

* {
    font-family: Comic Sans MS;
}

.header {
    font-family: Karla;
    text-align: center;
    font-size: 40px;
}


.footer {
    text-align: center;
    font-size: 15px;
    line-height: 200%;
}

th {
    font-size: 1.25em;
}

#menuBackground {
    background:linear-gradient(#89cff0, white);
}

#homeBackground {
    background: linear-gradient(sandybrown, white);
}