
 
/* {
    border: 1px solid rgba(0, 0, 0, 0.3);
} */

* {
    font-family: Comic Sans MS;
}

.header {
    text-align: center;
    font-size: 30px;
}


.footer {
    text-align: center;
    font-size: 15px;
    line-height: 200%;
}